<div id='page'>
  <main>
    <link href='/assets/css/sitemap.css' rel='stylesheet'/>
    <div id='Sitemap'>
      <div class='H1'>SiteMap</div>
      <br/>
      <ul>
        {{log '🔴 _pub_sitemap.hbs : 8 ==> ' window.MENU_DATA}}
        {{#EACH window.MENU_DATA}}
          <li>
            {{#if obj.링크}}
              <a href='https://www.google.com' target='_blank'>
                <span class='Link'>[{{obj.링크}}]</span>
                <span class='Label'>{{obj.라벨}}</span>
              </a>
            {{else}}
              <div>
                {{obj.라벨}}
              </div>
            {{/if}}

            {{#EACH obj.자식}}
              <ul>
                <li>
                  {{#if obj.링크}}
                    <a href='https://www.google.com' target='_blank'>
                      <span class='Link'>[{{obj.링크}}]</span>
                      <span class='Label'>{{obj.라벨}}</span>
                    </a>
                  {{else}}
                    <div>
                      {{obj.라벨}}
                    </div>
                  {{/if}}
                </li>
              </ul>
            {{/EACH}}
          </li>
        {{/EACH}}
      </ul>
    </div>
  </main>
  <script src="/assets/js/sitemap.js"></script>
</div>