<div id='Page'>
  <link href='/assets/css/pub.css' rel='stylesheet' />
  {{!-- prettier-ignore --}}
  <style>
    /**/
    .SampleList_2{ display:block; padding:10px; user-select:none; background-color:white; }
    .SampleList_2 > li{cursor:pointer; position:relative;display:block;padding:0.75rem 1.25rem;margin-bottom:-1px;background-color:#ffffd4;border:1px solid rgba(0, 0, 0, .125);}
    .SampleList_2 > li > *{ display:inline-block; }
    .SampleList_2 > li + li{ margin-top:4px; }
    /**/
    .sortable-chosen{ background-color:#ffb077!important; }
    .sortable-ghost{ background-color:#b2f3ff!important; }
    .filtered{ outline:1px dashed red; }
    .my-handle{ outline:1px dashed red; }
    /**/
    .GridDemo{ display:grid; grid-template-columns:repeat(5, minmax(0, 1fr)); gap:10px; }
    .GridDemo{ justify-items:center; padding:10px; }
    .GridSquare{ cursor:pointer; display:inline-flex; aspect-ratio:1; width:100%; align-items:center; justify-content:center; background-color:#ffffd4; border:1px solid #ddd; }
  </style>
  <main>
    <h1 class='H1'>SortableJS</h1>
    <h2 class='H2'>Features</h2>
    <section>
      <h3 class='H3'>Simple list example</h3>
      <ul id='list-c516b09c' class='SampleList_2'>
        {{#LOOP 5}}
          <li>Item {{number}}</li>
        {{/LOOP}}
      </ul>
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_list = document.querySelector(`#list-c516b09c`);
          new Sortable(el_list, {
            animation: 150
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Shared lists</h3>
      <article class='CenterBetween'>
        <div class='flex-1'>
          <ul id='list-dc8c8168' class='SampleList_2'>
            {{#LOOP 5}}
              <li>Item 1-{{number}}</li>
            {{/LOOP}}
          </ul>
          {{!--prettier-ignore--}}
          <script>
            (() => {
              const el_list = document.querySelector(`#list-dc8c8168`);
              new Sortable(el_list, {
                animation: 150,
                group: 'shared', // set both lists to same group
              });
            })()
          </script>
        </div>
        <div class='flex-1'>
          <ul id='list-97bb06da' class='SampleList_2'>
            {{#LOOP 5}}
              <li>Item 2-{{number}}</li>
            {{/LOOP}}
          </ul>
          {{!--prettier-ignore--}}
          <script>
            (() => {
              const el_list = document.querySelector(`#list-97bb06da`);
              new Sortable(el_list, {
                animation: 150,
                group: 'shared', // set both lists to same group
              });
            })()
          </script>
        </div>
      </article>
    </section>
    <section>
      <h3 class='H3'>Cloning</h3>
      <article class='CenterBetween'>
        <div class='flex-1'>
          <ul id='list-324b3f62' class='SampleList_2'>
            {{#LOOP 5}}
              <li>Item 1-{{number}}</li>
            {{/LOOP}}
          </ul>
          {{!--prettier-ignore--}}
          <script>
            (() => {
              const el_list = document.querySelector(`#list-324b3f62`);
              new Sortable(el_list, {
                animation: 150,
                group: {
                  name: 'shared',
                  pull: 'clone' // To clone: set pull to 'clone'
                },
              });
            })()
          </script>
        </div>
        <div class='flex-1'>
          <ul id='list-c7a5b1a9' class='SampleList_2'>
            {{#LOOP 5}}
              <li>Item 2-{{number}}</li>
            {{/LOOP}}
          </ul>
          {{!--prettier-ignore--}}
          <script>
            (() => {
              const el_list = document.querySelector(`#list-c7a5b1a9`);
              new Sortable(el_list, {
                animation: 150,
                group: {
                  name: 'shared',
                  pull: 'clone' // To clone: set pull to 'clone'
                },
              });
            })()
          </script>
        </div>
      </article>
    </section>
    <section>
      <h3 class='H3'>Disabling Sorting</h3>
      <article class='CenterBetween'>
        <div class='flex-1'>
          <ul id='list-04469545' class='SampleList_2'>
            {{#LOOP 5}}
              <li>Item 1-{{number}}</li>
            {{/LOOP}}
          </ul>
          {{!--prettier-ignore--}}
          <script>
            (() => {
              const el_list = document.querySelector(`#list-04469545`);
              new Sortable(el_list, {
                animation: 150,
                sort: false, // To disable sorting: set sort to false
                group: {
                  name: 'shared',
                  pull: 'clone',
                  put: false // Do not allow items to be put into this list
                },
              });
            })()
          </script>
        </div>
        <div class='flex-1'>
          <ul id='list-51654c12' class='SampleList_2'>
            {{#LOOP 5}}
              <li>Item 2-{{number}}</li>
            {{/LOOP}}
          </ul>
          {{!--prettier-ignore--}}
          <script>
            (() => {
              const el_list = document.querySelector(`#list-51654c12`);
              new Sortable(el_list, {
                animation: 150,
                group: {
                  name: 'shared',
                },
              });
            })()
          </script>
        </div>
      </article>
    </section>
    <section>
      <h3 class='H3'>Handle</h3>
      <ul id='list-1f650ca9' class='SampleList_2'>
        {{#LOOP 5}}
          <li>
            <img class='my-handle' src='/assets/icon/star.svg' alt='' />
            Item 1-{{number}}
          </li>
        {{/LOOP}}
      </ul>
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_list = document.querySelector(`#list-1f650ca9`);
          new Sortable(el_list, {
            animation: 150,
            handle: '.my-handle', // handle's class
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Filter</h3>
      <ul id='list-3de18208q' class='SampleList_2'>
        {{#LOOP 2}}
          <li>
            Item
            {{number}}
          </li>
        {{/LOOP}}
        <li class='filtered'>
          Filtered Item
        </li>
        {{#LOOP 2}}
          <li>
            Item
            {{number}}
          </li>
        {{/LOOP}}
      </ul>
      {{!--prettier-ignore--}}
      <script>
        (() => {
          const el_list = document.querySelector(`#list-3de18208q`);
          new Sortable(el_list, {
            animation: 150,
            filter: '.filtered', // 'filtered' class is not draggable
          });
        })()
      </script>
    </section>
    <section>
      <h3 class='H3'>Grid Example</h3>
      <div id='list-2d58ffb2' class='GridDemo'>
        {{#LOOP 10}}
          <div class='GridSquare'>Item {{number}}</div>
        {{/LOOP}}
      </div>
      <script>
        (() => { const el_list = document.querySelector(`#list-2d58ffb2`); new Sortable(el_list, { animation: 150 }); })()
      </script>
    </section>
  </main>
</div>