<div id='Page'>
  <main>
    <link href='/assets/css/pub.css' rel='stylesheet'/>
    <h1 class='H1 Sticky Top'>Button</h1>
    <section class='HBox mt-[50px]'>
      <div class='Inner overflow-auto'>
        <h2 class="H2">Button List</h2>
        {{#LOOP 10}}
          <h3 class="H3">Button_{{number}}</h3>
          <article class="max-pc:flex max-pc:flex-col pc:grid pc:grid-cols-[repeat(auto-fit,minmax(0,1fr))] gap-[10px] pc:items-center pc:justify-center bg-white p-[10px] border-solid border-[1px] border-[#000]">
            {{#EACH (ARR 'Xl|Lg||SM')}}
              <button class='Button_{{../number}} w-full {{obj}}'>
                <img class='Default' src='/assets/icon/warn.svg' alt=''/>
                <img class='Hover' src='/assets/icon/warn_hover.svg' alt=''/>
                <img class='Active' src='/assets/icon/wran_active.svg' alt=''/>
                <div>Button_{{../number}} {{obj}}</div>
                <div class="w-[20px]">
                  {{{SVG '/assets/icon/currentColor.svg'}}}
                </div>
              </button>
            {{/EACH}}
          </article>
        {{/LOOP}}
      </div>
    </section>
    <section class="HBox">
      <div class="Inner">
        <h2 class="H2">ETC Buttons</h2>
        <button class="Btn_0">Btn_0</button>
      </div>
    </section>
  </main>
</div>