<ul>
  {{#EACH this}}
    {{log '🔴 SiteMapWrap.hbs : 2 ==> ' obj}}
    <li>
      <a
        {{#if obj.PAGE_KEY}}
          class="PageLink"
          href="/index.html?title={{obj.D_1}}&page={{obj.PAGE_KEY}}"
        {{else if obj.EXTERNAL_LINK}}
          class="ExternalLink"
          href="{{obj.EXTERNAL_LINK}}"
        {{else}}
          class="NoLink"
        {{/if}}
          target="_blank">
        {{#if obj.PAGE_KEY}}
          <div class="PageKey">[{{obj.PAGE_KEY}}]</div>
        {{/if}}
        {{obj.D_1}}
      </a>
      {{#if obj.CHILD}}
        <ul>
          {{#EACH obj.CHILD}}
            <li>
              <a
                {{#if obj.PAGE_KEY}}
                  class="PageLink"
                  href="/index.html?title={{obj.D_2}}&page={{obj.PAGE_KEY}}"
                {{else if obj.EXTERNAL_LINK}}
                  class="ExternalLink"
                  href="{{obj.EXTERNAL_LINK}}"
                {{else}}
                  class="NoLink"
                {{/if}}
                  target="_blank">
                {{#if obj.PAGE_KEY}}
                  <div class="PageKey">[{{obj.PAGE_KEY}}]</div>
                {{/if}}
                {{obj.D_2}}
              </a>
              {{#if obj.CHILD}}
                <ul>
                  {{#EACH obj.CHILD}}
                    <li>
                      <a
                        {{#if obj.PAGE_KEY}}
                          class="PageLink"
                          href="/index.html?title={{obj.D_3}}&page={{obj.PAGE_KEY}}"
                        {{else if obj.EXTERNAL_LINK}}
                          class="ExternalLink"
                          href="{{obj.EXTERNAL_LINK}}"
                        {{else}}
                          class="NoLink"
                        {{/if}}
                          target="_blank">
                        {{#if obj.PAGE_KEY}}
                          <div class="PageKey">[{{obj.PAGE_KEY}}]</div>
                        {{/if}}
                        {{obj.D_3}}
                      </a>
                      {{#if obj.CHILD}}
                        <ul>
                          {{#EACH obj.CHILD}}
                            <li>
                              <a
                                {{#if obj.PAGE_KEY}}
                                  class="PageLink"
                                  href="/index.html?title={{obj.D_4}}&page={{obj.PAGE_KEY}}"
                                {{else if obj.EXTERNAL_LINK}}
                                  class="ExternalLink"
                                  href="{{obj.EXTERNAL_LINK}}"
                                {{else}}
                                  class="NoLink"
                                {{/if}}
                                  target="_blank">
                                {{#if obj.PAGE_KEY}}
                                  <div class="PageKey">[{{obj.PAGE_KEY}}]</div>
                                {{/if}}
                                {{obj.D_4}}
                              </a>
                            </li>
                          {{/EACH}}
                        </ul>
                      {{/if}}
                    </li>
                  {{/EACH}}
                </ul>
              {{/if}}
            </li>
          {{/EACH}}
        </ul>
      {{/if}}
    </li>
  {{/EACH}}
</ul>