{{#DV}}
  {{SAFE 'target_name'}}
  {{SAFE 'type1'}}
  {{SAFE 'type2'}}
  {{SAFE 'preview'}}
  {{SAFE 'new_icon' true}}
  {{!--{{SAFE 'array' '1|2|3'}}--}}
{{/DV}}
<div class='ChatRoomItem_1 {{#if right_open}} RightOpen {{/if}}'>
  {{#if right_open}}
    <button class="DelBtn">나가기</button>
  {{/if}}
  <article class='Inner'>
    <div>
      <div class='C-d7025c0e'>
        <img src='https://gifpng.com/50x50/ffd4d4/ff4444' alt='' />
      </div>
    </div>
    <div style='flex:1; margin-left:12px; margin-right:12px;'>
      <article class='CenterBetween'>
        <div>
          <article class='target_name CenterLeft' style='gap:5px;'>
            <div>
              {{target_name}}
            </div>
            {{#if type1}}
              <div class='type1'> {{type1}} </div>
            {{/if}}
            {{#if type2}}
              <div class='type2'> {{type2}} </div>
            {{/if}}
          </article>
        </div>
        <div>
          <div class='C-7499986e'>02:15</div>
        </div>
      </article>
      <article class='CenterBetween' style='margin-top:8px;'>
        <div>
          {{#if preview}}
            <div class='preview'> {{preview}} </div>
          {{else}}
            <div class='preview'> &nbsp; </div>
          {{/if}}
        </div>
        <div>
          {{#if new_icon}}
            <div>
              <img src='/assets/icon/2308071006.svg' alt='' />
            </div>
          {{/if}}
        </div>
      </article>
    </div>
  </article>
</div>