{{#DV}}
  {{SAFE 'new'}}
  {{SAFE 'rank' 1}}
  {{SAFE 'like'}}
{{/DV}}
<div class='ImgBox_1'>
  {{#if new}}
    <div class='New'>
      <img style='width: 100%;' src='/assets/icon/2307170959.svg' alt='' />
    </div>
  {{/if}}
  {{#if rank}}
    <div class='Rank Rank{{rank}} Montserrat'>
      {{rank}}
    </div>
  {{/if}}
  <img style='width: 100%;' src='https://gifpng.com/88x88/ffd4d4/ff4444' alt='' />
  {{#if like}}
    <div class='Like'>
      <img style="width: 100%" src="/assets/icon/2307231115.svg" alt="" />
      <img style='width: 100%' src='/assets/icon/2307231115_on.svg' alt='' />
    </div>
  {{/if}}
</div>