{{#DV}}
  {{SAFE 'txt1'}}
  {{SAFE 'btn1'}}
  {{SAFE 'btn2'}}
{{/DV}}
<div class='TitleBox_1'>
  <article class='CenterBetween'>
    <div>
      {{#if txt1}}
        <div class='Title_1'>{{{txt1}}}</div>
      {{/if}}
    </div>
    <div>
      {{#if btn1}}
        <button class='ButtonUi Style4' data-form-hei='Xs'>
          {{btn1}}
          <img src='/assets/icon/2307171757.svg' alt='' />
        </button>
      {{/if}}
      {{#if btn2}}
        <button class='Btn_1 group On'>
          {{btn2}}
          <img class='block group-[.On]:hidden' src='/assets/icon/2307171341.svg' alt='' />
          <img class='hidden group-[.On]:block' src='/assets/icon/2307171341_on.svg' alt='' />
        </button>
      {{/if}}
    </div>
  </article>
</div>